@import '../../../mixins';

.mat-mdc-card {
  width: 50%;
  margin: 1em auto;

  @include media(xs) {
    width: 90vw;
    margin: 1em auto;
  }

  .mat-mdc-card-header {
    margin-bottom: .5em;
  }

  .mat-mdc-card-image {
    width: 25%;
    margin: 0 auto;
    padding: 1em 0;
    display: block;

    @include media(xs) {
      width: 100%;
    }
  }

  .mat-mdc-card-content {
    table {
      width: 100%;
      th {
        min-width: 33%;
        width: 33%;
        text-align: right;
        padding-right: .5em;

        &.top {
          vertical-align: top;
        }
      }
    }
  }

  .mat-mdc-card-actions {
    justify-content: end;
    padding-bottom: 1em;
    padding-right: 1em;
    gap: .5rem;
  }

  .mat-mdc-chip-row {
      margin: 0 .5rem .5rem 0;
  }
}
